GLS_QA_CLIENT_ID=
GLS_QA_CLIENT_SECRET=
GLS_QA_BASE_URL=https://ca-gls-internalapi-qa.whiteisland-0576abaa.westeurope.azurecontainerapps.io
GLS_QA_INCLUDE=a,ac,rt,gs,da,dac

# Optional — omit to run with QA only, the Prod toggle in the UI will just
# not appear.
GLS_PROD_CLIENT_ID=
GLS_PROD_CLIENT_SECRET=
GLS_PROD_BASE_URL=https://ca-gls-internalapi-prod.ashysea-c5af08f4.westeurope.azurecontainerapps.io
GLS_PROD_INCLUDE=da,rt,gs
